@import url('https://fonts.googleapis.com/css?family=Montserrat');


html,
body {
    margin: 0;
    font-family: 'montserrat', sans-serif;
    overflow-x: hidden;
    max-width: 100%;
}

.hide {
    display: none;
}

/*    grid    */

main section {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    grid-gap: 1em;

}

main #menu {
    display: none;
}

section h2 {
    grid-column: 1/-1;
    text-align: center;
    font-size: 1.3em;
}

/*    navigation .   */

input {
    display: none;

}

label {
    color: black;
    cursor: pointer;
    display: inline-block;
    padding: 5px 9px;
    float: right;
    font-size: 2em;


}

.menu {
    max-height: 0;
    overflow: hidden;


}

input:checked ~ .menu {
    max-height: 500px;
    transition: all 1s linear;
}

.menu ul {
    list-style: none;
    display: block;
    padding: 5px 20px;
    text-decoration: none;
    float: right;

}

/*       categories      */

#filter a {
    padding: 1.4em;
    text-decoration: none;
    color: black;
}

#filter a:hover {
    color: gray;
    transition: 1s ease;
    cursor: pointer;
}

#filter {
    text-align: center;
    padding: 2em;
}

.menu a {
    color: black;
    display: block;
    padding: 8px 14px;
    text-decoration: none;
}

.menu a:hover {
    color: gray;
    transition: 0.8s ease;
}


/*    index page .   */

.dishes {
    text-align: center;
    font-size: 3em
}

article > img {
    width: 100%;
    overflow: hidden;
    border: 2px white solid;
}


.logo {
    float: left;
    display: inline-block;
    padding-left: 0.5em;
}

.header img {
    width: 200%;
    padding-bottom: 5em;
}

section {
    padding: 1em;
}

article {
    padding: 1em;
    position: relative;
    background: rgba(213, 217, 213, 0.2);
    text-align: center;
}

p {
    font-size: 0.8em;
}

/*   prices    */

.price,
.discountprice {
    position: absolute;
    top: 0;
    margin: 0;
    padding: 0.5em;
    font-size: 1.3em;
}

.price {
    left: 0;
    background: rgba(255, 255, 255, 1);
}

.discountprice {
    left: 2.8em;
    top: 0;
    background: yellowgreen;

}

.strike {
    text-decoration: line-through;
}


/* icons .  */

.icons img {
    width: 15%;
    padding: 2em;
}

/*      foooter     */

footer {
    background-color: darkgray;
    padding: 1em;
}

.footer-img {
    text-align: center;
}

.footer-img img {
    width: 20%;
}



/*    modal    */

#modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0, 0, 0, .7);
}

#modal aside {
    width: 80vw;
    height: 80vh;
    margin: auto;
    background: #fff;
    overflow-y: scroll;
}

aside img {
    width: 100%;
}

aside h1 {
    text-align: center;
    padding: 1.3em;
}

aside p {
    text-align: center;
    padding: 3em;
}

/* .       desktop version       */

@media all and (min-width:35em) {


    /*     navigation    */
    .menu {
        max-height: 4em;
    }

    .menu ul {
        width: 100%;

    }

    .menu li {
        display: inline-block;
        float: right;
        font-size: 1.2em;
    }

    label {
        display: none;
    }

    /* .      header image .   */
    .header img {
        width: 100%;
    }
